.btnlist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btnlist a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background-color: #26735b;
  border: 1px solid transparent;
  padding: 1.3rem 2.9rem;
  font-family: Lexend;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: none;
  transition: all 0.3s ease-in-out ;
}
.inputlist{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.inputlist input{
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #1a4c3c;

  font-family: Lexend;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d261e;
}

.inputlist input::placeholder{
  font-family: Lexend;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d261e;
}

.selectlist{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  margin-bottom: 10px;
}
.selectlist, .selectlist select, .selectlist select option{
  font-family: Lexend;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d261e;
}
.selectlist select{
  background-color: transparent;
  border: none;
}
.searchbox{
  width: 100%;
  padding: 26px 16px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px rgba(26, 76, 60, 0.75);
  background-color: #fff;
}