

.slide {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;


  & i {
    font-size: 14px;
    line-height: 0;
    cursor: pointer;
    color: #0d261e;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;

  & h1 {
    font-family: Merriweather;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0d261e;
    margin-bottom: 40px;
    text-align: center;
  }

  & p {
    margin-bottom: 8rem;
    line-height: 2.2;
    width: 100%;
  }
}

.imgsection{
  margin-top: 48px;
  transform: rotateY(-180deg);
  border-radius: 40px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: end;

  & h1{
    transform: rotateY(180deg);
    flex-grow: 0;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0d261e;
  }
}
.imgsection_btn{
  transform: rotateY(180deg);
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 40px;
  border: solid 2px #1a4c3c;
  background-color: #fff;
  font-family: Lexend;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1a4c3c;
  transition: all 0.5s ease-in-out;
}



